body{
	padding-top: 20px;
}

hr {
	border:none;
	height: 1px;
	color: #333;
	background-color: #333;
}
.box {
	width: 1px;
	color: red;
}
.vrh-stranice{
	margin-top: -70px;
}
.container {
	width: 90%;
}
.navbar {
margin-bottom: 20 px;
}

.home-headline{
	font-family: 'Times New Roman', Times, serif;
	font-size:24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
	
}

.home-headline span {
	background-color:#231F20;
	padding: 5px 22px
}
.section-headline {
	
	font-family: 'Times New Roman', Times, serif;
	font-size:24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	
}

.section-headline span {
	background-color: #f46b42;
	padding: 5px 22px}